/* style.css */
:root {
  --link-hover-width: 100%;
}

body {
  background: var(--background-default);
  background: var(--background-default, #1a1a1a);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: var(--background-higher, #222);
  color: var(--foreground-default, #e0e0e0);
  padding: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'IBM Plex Sans', sans-serif;
  text-shadow: 0 0 10px var(--accent-primary-default, #0099ff);
  transition: color 0.5s ease-in-out; 
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
}

#image-preview-container {
  position: fixed;
  bottom: 0;
  left: 4px;
  width: 120px;
  height: 37px;
  overflow: hidden;
  z-index: 100; 
  border-radius: 7px 7px 0 0;
}

#image-preview {
  width: 100%; 
  position: absolute;
  bottom: -70%; 
}

#image-preview {
  transition: transform 0.3s ease-in-out;
}

#image-preview:hover {
  transform: translateY(10%);
}

.user-input-container {
  display: flex;
  gap: 10px;
  padding: 10px;
}

#user-message {
  background-color: var(--background-higher,#333);
  border: 1px solid var(--outline-default, #444);
  border-radius: 4px;
  color: var(--foreground-default, white);
  flex-grow: 1;
  padding: 8px 10px;
  transition: all 0.3s ease-in-out;
}

#KEY {
  background-color: var(--background-higher,#333);
  border: 1px solid var(--outline-default, #444);
  border-radius: 4px;
  color: var(--foreground-default, white);
  flex-grow: 1;
  padding: 8px 10px;
  transition: all 0.3s ease-in-out;
}

#send-button {
  background: var(--accent-primary-default, #0077ff);
  border: none;
  border-radius: 4px;
  color: var(--foreground-default, white);
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  transition: all 0.3s ease-in-out;
}
#send-button:hover{
  background: var(--accent-primary-dimmer, #3090fd);
}
#send-button[disabled], #stop-button[disabled], #voice-input-button[disabled], #clear-messages-button[disabled], .regenerate-button[disabled], #file-select-btn[disabled], .remove-file-button[disabled], #scroll-to-bottom-button[disabled],
#add-file-button[disabled],
#upload-image-button[disabled] {
  background: var(--accent-grey-default, #555);
  cursor: not-allowed;
    transition: all 0.3s ease-in-out;
}

#send-button[disabled]:hover, #stop-button[disabled]:hover, #voice-input-button[disabled]:hover, #clear-messages-button[disabled]:hover, .regenerate-button[disabled]:hover, #file-select-btn:hover, .remove-file-button[disabled]:hover {
  background: var(--accent-grey-stronger, #6e6e6e);
}


#stop-button {
  background: var(--accent-negative-default, #dd4b4b);
  border: none;
  border-radius: 4px;
  color: var(--foreground-default, white);
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  transition: all 0.3s ease-in-out;
}
#stop-button:hover {
  background: var(--accent-negative-dimmer, #b44141);
}


#voice-input-button, #clear-messages-button, #settings-btn, .regenerate-button, #file-select-btn {
  background: var(--accent-primary-dimmer, #0077ff);
  border: none;
  border-radius: 4px;
  color: var(--foreground-default, white);
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  transition: all 0.3s ease-in-out;
}
#voice-input-button:hover, #clear-messages-button:hover, #settings-btn:hover, .regenerate-button {
  background: var(--accent-primary-default, #0066db);
}


.chat-message {
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 9px;
  width: 80%;
  background: var(--outline-default, #444);
  color: var(--foreground-default, white);
}
.chat-messages {
  position: relative;
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: var(--background-default, #333);
  border: 1px solid var(--outline-default, #444);
  border-radius: 4px;
  color: var(--foreground-default, white);
  padding-bottom: 40px; 
}

.chat-messages img {
  max-width: 90%; 
  max-height: 150px;
  height: auto; 
  border-radius: 8px;/
  margin: 10px auto;
  display: block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.chat-messages img:hover {
  transform: scale(1.05); 
}


code {
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  color: var(--foreground-dimmer);
  padding: 8px;
  border-radius: 8px;
  white-space: pre-wrap;
  overflow-x: auto;
}

.hljs{display:block;overflow-x:auto;padding:.5em}.hljs-keyword,.hljs-operator{color:#f92672}.hljs-pattern-match{color:#f92672}.hljs-pattern-match .hljs-constructor{color:#61aeee}.hljs-function{color:#61aeee}.hljs-function .hljs-params{color:#a6e22e}.hljs-function .hljs-params .hljs-typing{color:#fd971f}.hljs-module-access .hljs-module{color:#7e57c2}.hljs-constructor{color:#e2b93d}.hljs-constructor .hljs-string{color:#9ccc65}.hljs-comment,.hljs-quote{color:#b18eb1;font-style:italic}.hljs-doctag,.hljs-formula{color:#c678dd}.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{color:#66b0ff}.hljs-literal{color:#56b6c2}.hljs-addition,.hljs-attribute,.hljs-meta-string,.hljs-regexp,.hljs-string{color:#e55d5d}.hljs-built_in,.hljs-class .hljs-title{color:#e6c07b}.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{color:#a3d0ff}.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{color:#61aeee}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}.hljs-link{text-decoration:underline} /*code highlighting*/

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}


@keyframes scaleUpDown {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.9); 
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1); 
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}


.user-msg {
  position: relative;
  background: var(--accent-blurple-dimmer, #0077ff);
  color: var(--foreground-default, white);
  margin-left: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-radius: 20px 0px 20px 20px;
  animation: scaleUpDown 0.3s;
}

.user-msg:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid var(--accent-blurple-dimmer, #0077ff);
  border-right: 10px solid transparent;
  border-left: 0;
  border-bottom: 0;
  right: -10px;
  top: 0;
}

.received-msg {
  position: relative;
  background: var(--accent-grey-dimmer, #444);
  color: var(--foreground-default, white);
  white-space: pre-wrap;
  word-wrap: break-word;
  border-radius: 0px 20px 20px 20px;
  animation: slideInFromLeft 0.2s;
}

.received-msg:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid var(--accent-grey-dimmer, #444);
  border-left: 10px solid transparent;
  border-right: 0;
  border-bottom: 0;
  left: -10px;
  top: 0;
}

@keyframes blink {
  0%   {background-color: var(--accent-red-stronger, #d21e1e);}
  50%  {background-color: var(--accent-red-dimest, #ed8585);}
}

.error-msg, system-msg {
  background: var(--accent-red-stronger, #d21e1e);
  color: var(--foreground-default, white);
  white-space: pre-wrap;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  margin-bottom: 10px;
  animation: slideInFromRight 0.5s, blink 1s step-start infinite;
}


select {
  font-size: 16px;
  padding: 8px 12px;
  border: 2px solid var(--outline-default, #444);
  border-radius: 4px;
  background-color: var(--background-higher,#333);
  color: var(--foreground-default, white);  
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}


select:hover,
select:focus,
#KEY:hover,
#KEY:focus,
#user-message:hover,
#user-message:focus{
  border-color: var(--accent-primary-default, #0077ff);
  outline: none;
}


a {
  text-decoration: none;
  color: var(--link-color, #d24141);
}


a::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--accent-blue-default, #0074D9);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}


@media (hover: hover) and (pointer: fine) {
  a:hover::before{
    left: 0;
    right: auto;
    width: var(--link-hover-width);
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--background-default, #1a1a1a);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--background-higher,#333);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--background-highest,#4d4c4c);
}

@media (max-width: 430px) {
  header {
    font-size: 20px;
    padding: 15px;
  }

  .chat-message {
    width: 95%;
  }

  .chat-message:nth-child(even) {
    margin-left: 0;
  }

  .user-input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    transition: all 0.3s ease-in-out;
  }

  #send-button,
  #stop-button,
  #voice-input-button,
  #clear-messages-button,
  #settings-btn,
  #mode {
    flex: 1 1 calc(50% - 5px);
    margin-bottom: 10px; 
  }

  #user-message,
  #KEY {
    flex-basis: 100%;
    margin-bottom: 10px;
  }
}

/*LOADING BAR */
#loading-screen {
  transition: opacity 0.4s ease-in-out;
}

#loading-screen .description {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center; 
  color: #a9b1af
}

#main-content {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.ring {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:#fff000;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #fff000;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before {
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #fff000;
  border-right:3px solid #fff000;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
circlespan {
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
circlespan:before {
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
@keyframes animateC {
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate {
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

.message {
  animation-name: appear;
  animation-duration: 2s;
}

.message {
  animation: appear 2s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
  transition: all 0.5s ease;
}

@keyframes swing {
  0%, 100% { transform: rotate(-1deg); }
  50% { transform: rotate(1deg); }
}

.modal-content {
  background-color: var(--background-default, #333);
  margin: 15% auto;
  color: var(--foreground-default, #fff);
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2), 0 -12px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: all 0.3s ease;
  animation: swing 0.1s ease;
}

.modal-content label {
  font-weight: bold;
  margin-top: 10px;
}

.modal-content input[type="text"],
.modal-content input[type="number"],
.modal-content select,
.modal-content textarea {
  width: 100%;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
}

.modal-content .button {
  width: 100%;
  margin-top: 20px;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--background-higher,#333);
  border: 1px solid var(--outline-default, #444);
  border-radius: 4px;
}

.checkbox-container:hover input ~ .checkbox-mark {
  background-color: var(--background-highest,#4d4c4c);
}

.checkbox-container input:checked ~ .checkbox-mark {
  background-color: var(--accent-primary-default, #0077ff);
}

.checkbox-mark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkbox-mark:after {
  display: block;
}

.checkbox-container .checkbox-mark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--foreground-default, white);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.close {
  color: var(--background-highest,#7b7474);
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.close:hover, .close:focus {
  color: var(--background-higher,#272525);
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    margin: 10% auto;
  }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}


.button {
  background-color: var(--accent-primary-default, #01d1fe);
  color: var(--foreground-default, #fff);
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-color: var(--accent-primary-stronger, #0361fc);
  transition: background-color 0.3s ease;
}

button:active {
  animation: pulse 2s infinite;
}

#reset-settings-button {
  background-color: var(--accent-red-stronger, #ff4f53);
}

input[type="text"], input[type="number"], textarea {
  background-color: var(--background-higher,#333);
  color: var(--foreground-default, white);
  padding: 5px;
  border: 2px solid var(--outline-default, #444);
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="number"]:focus, textarea:focus {
  border-color: var(--accent-primary-default, #0077ff);
  outline: none;
}

.description {
  font-size: 0.6rem !important;
}

.files-tabs-container {
  display: flex;
  gap: 6px;
  padding: 5px;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  min-height: 25px;
  height: 25px;
  border-bottom: 1px solid var(--outline-default, #444);
}

.file-tab {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  background-color: var(--background-higher, #333);
  border: 1px solid var(--outline-default, #444);
  border-radius: 4px;
  color: var(--foreground-default, white);
  margin-right: 6px;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  font-size: 14px;
  animation: slideUp 0.3s ease-out forwards;
}

.file-tab button {
  margin-left: 5px;
  background-color: var(--accent-negative-default, red);
  color: var(--foreground-default, white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
  height: 20px;
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.file-tab.delete-animation {
  animation: slideDown 0.3s ease-in forwards;
}

::-webkit-scrollbar {
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-primary-default, #0077ff);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: var(--background-higher, #333);
  border-radius: 2px;
}


.file-tab button:hover {
  background-color: var(--accent-negative-stronger, #ff4f53);
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(7deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-7deg); }
  100% { transform: rotate(0deg); }
}

#scroll-to-bottom-button,
#add-file-button,
#upload-image-button{
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 3px; 
  cursor: pointer;
  border: none;
  background-color: var(--accent-primary-default, #0077ff);
  color: var(--foreground-default, white);
  transition: all 0.3s ease-in-out;

}
#scroll-to-bottom-button {
  border-radius: 4px 1px 1px 4px;
  margin-right: 2px;
}
#add-file-button {
  border-radius: 1px 4px 4px 1px;
}
#upload-image-button {
  border-radius: 1px 1px 1px 1px;
}

#scroll-to-bottom-button i,
#add-file-button i,
#upload-image-button i {
  font-size: 14px; 
}


#scroll-to-bottom-button:hover,
#add-file-button:hover {
  background-color: var(--accent-primary-dimmer, #0055cc);
}

#add-file-button.trash {
  background-color: red;
  animation: shake 0.2s infinite;
}

.separator {
  flex-shrink: 0;
  height: 30px; 
  width: 1px; 
  background-color: var(--foreground-dimmest, #d0d0d0); 
  margin: 0 5px;
}

.body-modal-open {
  overflow: hidden;
}

#add-file-button {
  transition: transform 0.5s ease;
}

.file-warning {
  color: var(--accent-negative-stronger, #ff4f53);
}

.body-modal-open {
  overflow: hidden;
}

#file-select-btn {
  height: 38px;
  padding: 0 15px;
}

#file-dropdown {
  height: 32px;
  flex-grow: 1;
  display: flex;
  font-size: 13px;
}

#image-url-input {
  height: 16px !important;
  font-size: 13px;

}

.popclose {
  position: absolute;
  top: -6px; 
  right: -6px; 
  background: #333; 
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

#image-input-container {
  position: absolute;
  margin-top: 10px;
  text-align: center;
}

#delete-image {
  position: absolute;
  top: 5px; 
  right: 5px; 
  z-index: 10; 
}

#add-file-button:hover, #upload-image-button:hover {
  background-color: var(--accent-primary-dimmer, #0055cc);
}

#add-file-button.active {
  animation: shake 0.2s infinite;
}

#add-file-button:hover, #upload-image-button:hover {
  background-color: var(--accent-primary-dimmer, #0055cc);
}

#add-file-button.active {
  animation: shake 0.2s infinite;
}

#image-input-options button, #file-input-options button {
  background-color: var(--accent-primary-default, #0077ff);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#image-input-options button:hover, #file-input-options button:hover {
  background-color: var(--accent-primary-dimmer, #0055cc);
}

#image-input-options button[disabled], #file-input-options button[disabled] {
  background: var(--accent-grey-default, #555);
  cursor: not-allowed;
}

#image-input-options, #file-input-options {
  border: 2px solid var(--accent-primary-default, #0077ff);
  padding: 10px;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  display: none;
  animation: none; 
  flex-shrink: 0;
}

#image-input-options.show-options, #file-input-options.show-options {
  display: block;
  animation: slideInFromLeft 0.3s forwards;
}

#image-input-options input[type="text"],
#image-input-options button {
    height: 25px;
    padding: 4px 8px; 
}

.show-options {
  display: block;
  opacity: 1;
  bottom: 50px;
}

@keyframes dotWave {
  0%, 60%, 100% {
    transform: initial;
  }
  30% {
    transform: translateY(-15px);
  }
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 2px;
  background-color: var(--foreground-default, black);
  border-radius: 50%;
  animation: dotWave 1.2s linear infinite;
}

.dot:nth-child(2) {
  animation-delay: -1.1s;
}

.dot:nth-child(3) {
  animation-delay: -1.0s;
}

.lazy {
  opacity: 0;
  transition: opacity 0.3s;
}

.lazy.loaded {
  opacity: 1;
}
